/*==== GOOGLE FONT ====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /*========== Font and typography ==========*/
  --main-font: "Nunito", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*==== DEFAULT SETTING ====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  background-color: var(--body-color);
  padding: 0;
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  padding-bottom: 5rem;
}

/* BUTTON DARK/LIGHT CHANGES */
.theme-change {
  position: absolute;
  right: 0;
  top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color-alt);
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
  cursor: pointer;
}
.generate-pdf-btn {
  display: none;
  position: absolute;
  left: 0;
  top: 1rem;
  column-gap: 0.5rem;
  background-color: var(--container-color-alt);
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
  cursor: pointer;
}

.generate-pdf-btn:hover {
  background-color: var(--text-color);
  color: var(--container-color);
  transition: 0.3s;
}
.theme-change:hover {
  background-color: var(--text-color);
  color: var(--container-color);
  transition: 0.3s;
}

/* VARIABLE DARK THEME */
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --text-color-light: #dadada;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}

/* ==== SCALE MODIFITED ==== */
.scale-cv .generate-pdf-btn,
.scale-cv .theme-change,
.scale-cv .certificates_source {
  display: none;
}

.scale-cv .bd-container {
  max-width: 595px;
}

.scale-cv .section {
  padding: 1.5rem 0.8rem;
}

.scale-cv .section_title {
  margin-bottom: 0.75rem;
}

.scale-cv .resume_left,
.scale-cv .resume_right {
  padding: 0 1rem;
}

.scale-cv .home_img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.scale-cv .home_data,
.scale-cv .home_address,
.scale-cv .social-container {
  gap: 0.75rem;
}

.scale-cv .home_icon,
.scale-cv .social_icon,
.scale-cv .interests_icon {
  font-size: 1rem;
}

.scale-cv .education_container,
.scale-cv .experience_container,
.scale-cv .certificates_container {
  gap: 1rem;
}

.scale-cv .experience_time,
.scale-cv .education_time {
  padding-right: 0.5rem;
}

.scale-cv .education_rounded,
.scale-cv .experience_rounded {
  width: 11px;
  height: 11px;
}

.scale-cv .experience_line,
.scale-cv .education_line {
  width: 1px;
  transform: translate(5px, 0);
}

.scale-cv .education_data,
.scale-cv .experience_data {
  gap: 0.45rem;
}

.scale-cv .skills_name,
.scale-cv .language_name {
  margin-bottom: var(--mb-1);
}

.scale-cv .interests_container {
  column-gap: 2.5rem;
}

.scale-cv .resume_right .section {
  padding: 1.8rem 0 0 0;
}

.mode_theme {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* === CLASS CSS === */
.section {
  padding: 1.5rem 0;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/* === LAYOUT CLASS === */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
}

/* === HEADER SECTION === */

.header_section {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 0 0;
    transition: all 0.5s;
  }
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_item {
  text-align: center;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--title-color);
}

.nav_icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* === HOME SECTION === */
.home {
  position: relative;
  padding-top: var(--mb-2);
}

.home_container {
  gap: 3rem;
}

.home_data {
  text-align: center;
  gap: 0.5rem;
}

.home_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-self: center;
}

.home_title {
  font-size: var(--h1-font-size);
  text-transform: capitalize;
}

.home_proffesion {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  margin-bottom: var(--mb-1);
}

.home_address {
  gap: 1rem;
  justify-content: center;
}

.home_information {
  color: var(--title-color);
  display: flex;
  align-items: center;
}

a.home_information:hover {
  color: var(--text-color);
}

.home_icon {
  font-size: var(--h2-font-size);
  min-width: 40px;
}

.home_button_download {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-2);
}

.home_button_download:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

/* === SOCIAL === */
.social-container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social_link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social_link:hover {
  color: var(--title-color);
}

.social_icon {
  font-size: var(--h2-font-size);
  width: 30px;
}

/* === PROFILE === */
.profile_description {
  text-align: center;
  line-height: 1.6rem;
  color: var(--text-color-light);
}

.company-name{
  font-size: var(--h2-font-size);
}

.profile_lg {
  display: none;
}

/* === EDUCATION AND EXPERIENCE === */
.education_content,
.experience_content {
  display: flex;
}

.education_title,
.experience_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.experience .experience_data .experience_title{
  font-style: italic;
}

.education_studies,
.experience_company {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.education_data,
.experience_data {
  gap: 0.8rem;
}

.education_container,
.experience_container {
  gap: 1.2rem;
}

.education_time,
.experience_time {
  padding-right: 1rem;
  position: relative;
}

.education_rounded,
.experience_rounded {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education_line,
.experience_line {
  width: 2px;
  display: block;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education_content:last-child .education_line,
.experience_content:last-child .experience_line {
  width: 0;
}

/* === SKILLS AND LANGUAGE === */
.skills_content,
.language_content {
  grid-template-columns: repeat(3, 1fr);
}

.skills_name,
.language_name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
  font-weight: var(--font-medium);
}

.skills_category {
  margin-bottom: var(--mb-1);
}

h4.skills_category_title {
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}

.skills_circle,
.language_circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-right: 0.75rem;
}

/* === CERTIFICATES === */

.certificates_title {
  margin-bottom: var(--mb-2);
}

.certificates_container{
  margin-bottom: 2rem;
}

.certificates_link {
  color: var(--text-color);
  transition: 0.3s;
  padding: 0.5rem .8rem;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--container-color-alt);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.certificates_link:hover {
  color: var(--text-color-light);
}

.certificates_link_content {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
.certificates_link_content:hover {
  color: var(--text-color-light);
}

.experience_data .company-work-description,
.certificates_description {
  font-weight: var(--font-light);
  line-height: 1.6rem;
  margin-bottom: var(--mb-2);
}

.certificates_title {
  font-size: var(--h3-font-size);
}

/* === INTERESTS === */
.interests_container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}

.interests_content {
  display: flex;
  align-items: center;
  row-gap: 0.5rem;
  flex-direction: column;
}

.interests_icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

/* === SHOW MENU === */
.show_menu {
  bottom: var(--header-height);
  transition: all 0.5s;
}

/* === SCROLL TO TOP === */
.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color-alt);
  padding: 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: all 0.5s;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.show-scroll {
  bottom: 5rem;
  visibility: visible;
}

.scrollTop-icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* === ACTIVE CLASS === */
.active_link {
  color: var(--title-color);
}

/* ==== MEDIA QUERY === */

/* For Small Device menu two columns */
@media screen and (max-width: 320px) {
  .nav_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.8rem;
  }
}

/* CLASS MODIFED FOR LARGE SIZE */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
    padding-bottom: 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .header_section,
  .scrollTop {
    display: none;
  }

  .home_address {
    justify-content: left;
  }

  .resume_right .section {
    padding: 2.5rem 0 0 0;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
    word-wrap: break-word;
  }

  .resume_left {
    background-color: var(--container-color-alt);
  }

  .resume_left,
  .resume_right {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .section_title,
  .profile_description {
    text-align: initial;
  }

  .section_title {
    margin-bottom: var(--mb-2);
  }

  .home_container {
    gap: 1.5rem;
  }

  .home_button_download {
    display: none;
  }

  .profile_sm {
    display: none;
  }

  .profile_lg {
    display: block;
  }

  .skills_name,
  .language_name {
    margin-bottom: var(--mb-2);
  }

  .skills_content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 1.2rem;
  }

  .language_content {
    grid-template-columns: repeat(1, max-content);
  }

  .interests_container {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests_content {
    align-items: baseline;
  }

  .theme-change {
    background-color: var(--container-color);
  }

  .generate-pdf-btn {
    display: inline-block;
    background-color: var(--container-color);
  }
}
